<section id="spotlight">
	<h2>The Secret of getting <br>Ahead is getting started</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nobis culpa magni, quod vel a maxime deleniti error officia odit, dicta laudantium cumque nostrum maiores beatae laboriosam eius, aut alias?</p>
	<a title="Explore" href="#" class="button">Explore</a>
</section><!--(#top > .wrapper > #spotlight)-->