html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family:'robotolight',Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #555;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'robotolight',Arial, Helvetica, sans-serif;
}
a{
	color: #555;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
}
.hidden{
	display:none;
}
.left {
	float: left;
}
.right {
	float: right;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#top{
	padding: 1% 0 10%;
	background: url(../images/spotlight.jpg) no-repeat scroll center;
	-webkit-background-size: cover;
	background-size: cover;
	background-position:center center;
}
#top header{
	width: 100%;
	margin: 0 0 24%;
}
#top header h1{
	display:inline-block;
	width: 150px;
	float: left;
}
#top header h1 a{
	display: block;
}
#top header h1 a img{
	display: block;
	width: 100%;
}
.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}
.sidenav a {
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
    font-family: 'robotoregular';
    text-transform: uppercase;
}
.sidenav ul li{
	margin-bottom: 20px;
}
.sidenav ul li.last{
	margin-bottom: 0;
}
#top .wrapper{
	position: relative;
}
.openmenu{
	display: block;
	cursor:pointer;
	position: absolute;
	top: 1%;
	right: 0px;
	background: url(../images/menu.png) no-repeat;
	width: 32px;
	height: 32px;
}
.sidenav a:hover, .sidenav a:focus {
    color: #7C2875;
}
.sidenav .closebtn {
    position: absolute;
    top: 8%;
    right: 30px;
    font-size: 55px;
}
#top #spotlight{
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
#top #spotlight h2{
	font-family: 'robotobold';
	font-size: 71px;
	color: #FFFFFF;
	text-transform: uppercase;
}
#top #spotlight p{
	color: #fff;
	margin: 0 0 3%;
	font-size: 18px;
	font-family: 'robotoregular';
}	
#top #spotlight a.button{
	color: #FFFFFF;
	padding: 10px 40px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 25px;
	font-family: 'robotobold';
	background: #7C2875;
}	
#about{
	padding: 5% 0 5%;
	background: #EDEDED;
}
#about ul {
	float: left;
	width: 100%;
}
#about ul li{
	float: left;
	width: 32%;
	margin-right: 2%;
}
#about ul li:nth-child(3){
	margin-right: 0;
}
#about ul li .top{
	padding: 30px 0;
	background: url(../images/about-bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#about ul li .top .img{
	width: 180px;
	height: 180px;
	margin: 0 auto -31%;
	border-radius: 50%;
}
#about ul li .top .img img{
	display: block;
	width: 100%;
}
#about ul li .bottom{
	padding: 30% 30px 10%;
	text-align: center;
	background: #fff;
	box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .3);

}
#about h3{
	font-size: 30px;
	font-family: 'robotoregular';
	text-transform: capitalize;
	color: #000;
	margin-bottom: 10px;
}
#about p{
	font-size: 14px;
	font-family: 'robotolight';
}
.head{
	text-align: center;
	margin-bottom: 5%;
}
.head.white h3,.head.white p{
	color: #fff;
}
.head h3{
	font-family: 'robotoregular';
	font-size: 45px;
	color: #000;
}
.head p{
	font-size: 14px;
	font-family: 'robotolight';
}
#issues{
	padding: 3% 0 5%;
	background: #fff;
}
#issues ul{
	width: 100%;
	float: left;
	margin-bottom: -3%;
	position: relative;
	z-index: 5;
}
#issues ul li{
	width: 25%;
	float: left;
	padding: 0 20px;
	margin-bottom: 3%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#issues ul li:nth-child(4n){
	margin-right: 0;
}
#issues ul li span,#features ul li span,#contact ul li span{
	display: inline-block;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	border: 2px solid #7B2971;
	padding: 9px;
	background: #fff;
}
#issues ul li:hover span{
	background: url(../images/departments-bg.jpg) no-repeat;
}
#issues ul li span small,#features ul li span small,#contact ul li span small{
	display: inline-block;
	width: 120px;
	height: 120px;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 50%;
	padding-top: 18px;
	text-align: center;
}
#issues ul li span small b,#features ul li span small b,#contact ul li span b{
	display: inline-block;
	width: 76px;
	height: 79px;
	background: url(../images/sprite.png);
}
#issues ul li span small b.icon.icon1{
	background-position: 1px -113px;
}
#issues ul li:hover span small b.icon.icon1{
	background-position: 2px -32px;
}
#issues ul li span small b.icon.icon2{
	background-position: -71px -114px;
	width: 65px;
}
#issues ul li:hover span small b.icon.icon2{
	background-position: -71px -34px;
	width: 62px;
}
#issues ul li span small b.icon.icon3{
	background-position: -132px -113px;
}
#issues ul li:hover span small b.icon.icon3{
	background-position: -130px -33px;
	width: 72px;
}
#issues ul li span small b.icon.icon4{
	background-position: -207px -113px;
	width: 68px;
}
#issues ul li:hover span small b.icon.icon4{
	background-position: -201px -30px;
	width: 66px;
}
#issues ul li span small b.icon.icon5{
	background-position: -270px -113px;
}
#issues ul li:hover span small b.icon.icon5{
	background-position: -265px -30px;
	width: 71px;
}
#issues ul li span small b.icon.icon6{
	background-position: -342px -113px;
}
#issues ul li:hover span small b.icon.icon6{
	background-position: -333px -30px;
	width: 75px;
}
#issues ul li span small b.icon.icon7{
	background-position: -416px -117px;
	width: 49px;
}
#issues ul li:hover span small b.icon.icon7{
	background-position: -407px -35px;
	width: 43px;
}
#issues ul li span small b.icon.icon8{
	background-position: -463px -115px;
}
#issues ul li:hover span small b.icon.icon8{
	background-position: -450px -33px;
}
#issues .line,#contact .line{
	display: block;
	width: 86%;
	position: relative;
	height: 2px;
	background: #7B2971;
	top: -478px;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#issues .line.two{
	top: -190px;
}
#issues h4{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-transform: capitalize;
}



#features{
	padding: 3% 0 5%;
	background: #fff;
}
#features .left,#features .right{
	width: 45%;
}
#features ul{
	margin-bottom: -30px;
}
#features ul li,#features ul {
	float: left;
	width: 100%;
}
#features ul li{
	margin-bottom: 30px;
}
#features ul li .content{
	width: 78%;
	background: #000;
	padding: 25px 0;
	text-align: center;
	margin-top: -21%;
	background: #D7BED4;
}
#features .left ul li .content{
	float: left;
}
#features ul li:hover .content,#features ul li:hover span{
	background: url(../images/departments-bg.jpg) no-repeat;
}
#features ul li span small{
 	padding-top: 25px;
}
#features ul li span small b{
	width: 65px;
	height: 65px;
}
#features ul li span small b.icon1{
	background-position: -4px -424px;
}
#features ul li:hover span small b.icon1{
	background-position: -4px -354px;
}
#features ul li span small b.icon2{
	background-position: -72px -423px;
}
#features ul li:hover span small b.icon2{
	background-position: -72px -354px;
}
#features ul li span small b.icon3{
	background-position: -141px -426px;
}
#features ul li:hover span small b.icon3{
	background-position: -140px -355px;
}
#features ul li span small b.icon4{
	background-position: -210px -425px;
}
#features ul li:hover span small b.icon4{
	background-position: -210px -355px;
}
#features ul li span small b.icon5{
	background-position: -275px -424px;
}
#features ul li:hover span small b.icon5{
	background-position: -275px -354px;
}
#features ul li span small b.icon6{
	background-position: -340px -424px;
}
#features ul li:hover span small b.icon6{
	background-position: -340px -355px;
}
#features ul li span small b.icon7{
	background-position: -408px -425px;
}
#features ul li:hover span small b.icon7{
	background-position: -408px -355px;
}
#features ul li span small b.icon8{
	background-position: -477px -425px;
}
#features ul li:hover span small b.icon8{
	background-position: -477px -355px;
}






#features ul li:hover .content h4{
	color: #fff;
}
#features ul li .content h4{
	font-family: 'robotolight';
	font-size: 20px;
	color: #000;
	text-transform: capitalize;
}
#features ul li span{
	position: relative;
}
#features ul li span small{
	background: #EEEEEE;
}
#features ul li:hover span small{
	background: none;
}
#features .left ul li span{
	float: right;
}
#features .right ul li .content{
	float: right;
}
#features .right ul li span{
	float: left;
}
#join{
	padding: 3% 0 5%;
	background: url(../images/join-bg.jpg) no-repeat scroll center;
	-webkit-background-size: cover;
	background-size: cover;
	background-position:center center;
}
form p{
	margin-bottom: 20px;
}
form p input {
	border: 1px solid #BBBBBB;
	background: #fff;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	outline: none;
}
input::-moz-focus-inner{
	border: 0 !important;
}
form p textarea {
    width: 100%;
    border: 1px solid #BBBBBB;
	background: #fff;
	padding-top: 15px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #A4A4A4;
	font-size: 16px;
	resize: none;
	outline: none;
	height: 50px;
}
.submit:active,.submit:focus{
	outline: none;
	border: none;	
}
form p{
	width: 32.66%;
	float: left;
	margin-right: 1%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form p.first{
	width: 66.4%;
	float: left;
	margin-right: 1%;
}
form p.last{
	width: 100%;
	margin-bottom: 0;
}
form p.email{
	width: 32.5%;
	margin-right: 0;
}
form p:nth-child(5){
	margin-right: 0;
}
input[type="submit"]::-moz-focus-inner {
  border: 0;
}
input:focus {
	outline:none;	
}
label{
	font-family: 'robotolight';
	color: #fff;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}
.submit{
	border: none;
	cursor: pointer;
	display: block;
	width: 160px;
	padding: 10px 0;
	text-align: center;
	color: #FFF;
	margin: 0 auto;
	border-radius: 10px;
	border: 2px solid #fff;
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'robotobold';
	margin-top: 30px;
}
#contact{
	padding: 5% 0 2%;
}
#contact ul{
	float: left;
	width: 100%;
}
#contact ul li{
	float: left;
	width: 25%;
	margin-right: 12.5%;
	text-align: center;
	position: relative;
	z-index: 5;
}
#contact ul li:nth-child(3){
	margin-right: 0;
}
#contact ul li span{
	background: #7C2875;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
	padding-top: 27px;
}
#contact ul li span b{
	width: 43px;
	height: 43px;
}
#contact ul li span b.icon1{
	background-position: 1px -665px;
	width: 38px;
}
#contact ul li span b.icon2{
	background-position: -35px -661px;
	width: 37px;
	height: 38px;
}
#contact ul li span b.icon3{
	background-position: -69px -665px;
}
#contact .bottom {
	text-align: center;
	margin-top: 3%;
}
#contact .bottom a{
	display: inline-block;
	width: 50px;
	height: 50px;
}
#contact .bottom .fb{
	margin: 0 15px;
}
#contact .bottom  img{
	display: block;
	width: 100%;
}
#contact .line{
	width: 80%;
	top: -158px;
}
#contact ul li p{
	font-size: 15px;
	color: #000;
	font-family: 'robotolight';
}
#contact ul li p a{
	color: #000;
}
#part-of-femme{
	padding: 3% 0 5%;
}
#part-of-femme ul li{
	text-align: center;
    float: left;
}
#part-of-femme ul li .top{
	background: url(../images/box3.png) no-repeat scroll center;
	height: 184px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 20%;
}
#part-of-femme ul li .bottom{
	background: url(../images/box4.png) no-repeat scroll center;
	height: 184px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 11%;
}
#part-of-femme ul li h5{
	font-size: 20px;
	font-family: 'robotolight';
	color: #fff;
}
#part-of-femme ul li span{
	display: inline-block;
	width: 78px;
	height: 69px;
	background: url(../images/sprite.png);
}
#part-of-femme ul li span.icon1{
	    background-position: 9px 635px;
}
#part-of-femme ul li:hover span.icon1{
	background-position: 9px 705px;
}
#part-of-femme ul li span.icon2{
	background-position: -70px 638px;
	width: 74px;
}
#part-of-femme ul li:hover span.icon2{
	background-position: -70px 708px;
	width: 74px;
}
#part-of-femme ul li span.icon3{
	background-position: -140px 638px;
	width: 62px;
}
#part-of-femme ul li:hover span.icon3{
	background-position: -140px 708px;
	width: 62px;
}
#part-of-femme ul li span.icon4{
	background-position: -197px 639px;
	width: 75px;
}
#part-of-femme ul li:hover span.icon4{
	background-position: -197px 709px;
	width: 75px;
}
#part-of-femme ul li span.icon5{
	background-position: -272px 638px;
}
#part-of-femme ul li:hover span.icon5{
	background-position: -272px 708px;
}
#part-of-femme ul{
	float: left;
	width: 100%;
}
#part-of-femme ul.first{
	margin-bottom: -14%;
}
#part-of-femme ul.first li:first-child{
	margin-left: 17%;
}
#part-of-femme ul li{
	width: 33.33%;
}
#part-of-femme ul.logo{
	margin-bottom: -7%;
}
#part-of-femme ul.logo li{
	float: none;
	margin: 0 auto;
}
#part-of-femme ul.logo li h1{
	width: 150px;
	margin: 0 auto;
}
#part-of-femme ul.logo li h1 a{
	display: block;
}
#part-of-femme ul.logo li h1 a img{
	display: block;
	width: 100%;
}
#departments{
	padding: 3% 0 5%;
	background: url(../images/departments-bg.jpg) no-repeat scroll center;
	-webkit-background-size: cover;
	background-size: cover;
}
ul#accordion li{
	width: 100%;
	margin-bottom: 1%;
	text-align: left;
}
ul#accordion div.top{
	position: relative;
	display: none;
}
ul#accordion li.active div.top{
	display: block;
}
ul#accordion  div.designs div.design-left{
	position: absolute;
	left:0;
	top:0;
	width:60px;
	max-width: 25%;
	height: 10px;
}
ul#accordion  div.bottom div.designs div.design-left{
	height:85px;
}
ul#accordion  div.designs  .d{
	float:left;
}
ul#accordion  div.designs .d{
	height:10px;
}
ul#accordion div.bottom{
	position: relative;
}
ul#accordion div.bottom div.designs .d{
	height:85px;
}
ul#accordion  div.designs div.design-left .d{
	width:20px;
	max-width: 33.33%;
}
ul#accordion  div.designs div.design-right{
	position: absolute;
	right:0;
	top:0;
	width:400px;
	max-width: 65%;
	height: 85px;
}
ul#accordion  div.designs div.design-right .d{
	width:110px;
	max-width: 29.33%;
}
ul#accordion  div.designs div.design-right .d1{
	width:70px;
}
div.designs{
	background: #03A6F3;
	width: 100%;
	height: 10px;
}
div.bottom div.designs{
	height: 85px;
}
div.designs div.design-left .d1{
	background: #80D3FB;
}
div.designs div.design-left .d2{
	background: #4FC2F9;
}
div.designs div.design-left .d3{
	background: #26B7F6;
}
div.designs div.design-right .d1{
	background: #039DE7;
}
div.designs div.design-right .d2{
	background: #008AD3;
}
div.designs div.design-right .d3{
	background: #0177BF;
}
div.designs div.design-right .d4{
	background: #015699;
}
li.two div.designs div.design-left .d1{
	background: #80CBC4;
}
li.two div.designs div.design-left .d2{
	background: #4CB6AC;
}
li.two div.designs div.design-left .d3{
	background: #25A89A;
}
li.two  div.designs{
	background: #029688;
}
li.two div.designs div.design-right .d1{
	background: #01887A;
}
li.two div.designs div.design-right .d2{
	background: #00796A;
}
li.two div.designs div.design-right .d3{
	background: #00695B;
}
li.two div.designs div.design-right .d4{
	background: #004C3F;
}
li.three div.designs div.design-left .d1{
	background: #9EA8DB;
}
li.three div.designs div.design-left .d2{
	background: #7B85CC;
}
li.three div.designs div.design-left .d3{
	background: #5C6BBE;
}
li.three  div.designs{
	background: #4052B6;
}
li.three div.designs div.design-right .d1{
	background: #3949AB;
}
li.three div.designs div.design-right .d2{
	background: #313FA0;
}
li.three div.designs div.design-right .d3{
	background: #293694;
}
li.three div.designs div.design-right .d4{
	background: #1C237D;
}
li.four div.designs div.design-left .d1{
	background: #B39DDD;
}
li.four div.designs div.design-left .d2{
	background: #9675CE;
}
li.four div.designs div.design-left .d3{
	background: #7E57C1;
}
li.four  div.designs{
	background: #653BB7;
}
li.four div.designs div.design-right .d1{
	background: #5D35B0;
}
li.four div.designs div.design-right .d2{
	background: #512DA7;
}
li.four div.designs div.design-right .d3{
	background: #44289F;
}
li.four div.designs div.design-right .d4{
	background: #301B92;
}
li.five div.designs div.design-left .d1{
	background: #CF93D9;
}
li.five div.designs div.design-left .d2{
	background: #B868C7;
}
li.five div.designs div.design-left .d3{
	background: #AB48BD;
}
li.five div.designs{
	background: #9B29B2;
}
li.five div.designs div.design-right .d1{
	background: #8E24AA;
}
li.five div.designs div.design-right .d2{
	background: #7A1FA2;
}
li.five div.designs div.design-right .d3{
	background: #6A1B9A;
}
li.five div.designs div.design-right .d4{
	background: #4A148C;
}
ul#accordion li h4{
	font-size: 35px;
	color: #fff;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 85px;
	z-index: 2;
	line-height: 85px;
	padding-left: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'robotoregular';
}
ul#accordion li h4 span{
	float: right;
	height: 85px;
	width:110px;
	max-width: 15%;
	text-align: center;
	cursor:pointer;
}
ul#accordion li h4 span small{
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	width: 24px;
	height: 17px;
	background-position: -6px -1183px;
	vertical-align: middle;
}
ul#accordion li h4.active span small{
	 -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
ul#accordion li div.content{
	padding: 1% 1%;
	background: #fff;
	display: none;
}
ul#accordion li.one div.content,ul#accordion li.two div.content{
	padding: 7% 5%;
}
ul#accordion li div.onebythree{
	margin-bottom: -2%;
}
ul#accordion li div.onebyfour{
	margin-bottom: -1%;
}
ul#accordion li div.onebyfour div{
	width: 24.25%;
	float: left;
	margin-right: 1%;
	text-align: center;
	margin-bottom: 1%;
}
ul#accordion li div.onebythree div{
	width: 32%;
	float: left;
	margin-right: 2%;
	text-align: center;
	margin-bottom: 2%;
}
ul#accordion li.one div.content div,ul#accordion li.two div.content div{
	box-shadow: none;
	padding: 0;
}
ul#accordion li div.content div{
	box-shadow:0 0 4px 0px #888888;
	padding: 20px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul#accordion li div.onebythree div:nth-child(3n){
	margin-right: 0;
}
ul#accordion li div.onebyfour div:nth-child(4n){
	margin-right: 0;
}
ul#accordion li div.content div h5{
	font-size: 20px;
	font-family: 'robotoregular';
	color: #000;
	margin: 5px 0;
}
ul#accordion li div.content div p{
	font-size: 13px;
	font-family: 'robotolight';
}
ul#accordion li div.content div img{
	margin: 0 auto;
	display: block;
}
ul#accordion li h4 b{
	width: 65px;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}
ul#accordion li h4 b small{
	display: inline-block;
	width: 59px;
	height: 50px;
	background: url(../images/sprite.png) no-repeat;
	vertical-align: middle;
}
ul#accordion li b small.one{
	background-position: -3px -894px;
}
ul#accordion li  b small.two{
	background-position: -64px -894px;
}
ul#accordion li b small.three{
	    background-position: -121px -890px;
	height: 55px;
}
ul#accordion li b small.four{
	background-position: -175px -894px;
	width: 45px;
}
ul#accordion li b small.five{
	background-position: -219px -894px;
}
ul#accordion li.two div.content div span.icon{
	display: inline-block;
	height: 121px;
	width: 121px;
	border-radius: 50%;
	border: 2px solid #1E9287;
	text-align: center;
	padding-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul#accordion li.two div.content div span.icon small.icon,ul#accordion li div.content div small.icon{
	background: url(../images/sprite.png) no-repeat;
	display: inline-block;
	height: 68px;
	width: 68px;
}
ul#accordion li.two div.content div span small.icon.one{
	background-position: -32px -795px;
}
ul#accordion li.two div.content div span small.icon.two{
	background-position: -152px -795px;
}
ul#accordion li.two div.content div span small.icon.three{
	background-position: -274px -795px;
}
ul#accordion li.two div.content div span small.icon.four{
	background-position: -395px -795px;
}
ul#accordion li div.content div small.icon{
	width: 72px;
	height: 72px;
}
ul#accordion li.three div.content div small.icon.one{
	background-position: -4px -947px;
}
ul#accordion li.three div.content div small.icon.two{
	background-position: -77px -947px;
}
ul#accordion li.three div.content div small.icon.three{
	background-position: -150px -947px;
}
ul#accordion li.three div.content div small.icon.four{
	background-position: -223px -947px;
}
ul#accordion li.three div.content div small.icon.five{
	background-position: -296px -947px;
}
ul#accordion li.three div.content div small.icon.six{
	background-position: -369px -947px;
}

ul#accordion li.four div.content div small.icon.one{
	background-position: -4px -1020px;
}
ul#accordion li.four div.content div small.icon.two{
	background-position: -77px -1020px;
}
ul#accordion li.four div.content div small.icon.three{
	background-position: -150px -1020px;
}
ul#accordion li.four div.content div small.icon.four{
	background-position: -223px -1020px;
}
ul#accordion li.four div.content div small.icon.five{
	background-position: -297px -1020px;
}

ul#accordion li.five div.content div small.icon.one{
	background-position: -4px -1093px;
}
ul#accordion li.five div.content div small.icon.two{
	background-position: -77px -1093px;
}
ul#accordion li.five div.content div small.icon.three{
	background-position: -150px -1093px;
}
ul#accordion li.five div.content div small.icon.four{
	background-position: -223px -1093px;
}
ul#accordion li.five div.content div small.icon.five{
	background-position: -296px -1093px;
}
ul#accordion li.five div.content div small.icon.six{
	background-position: -370px -1093px;
}
ul#accordion li.five div.content div small.icon.seven{
	background-position: -443px -1093px;
}


ul#accordion li div.content div.last{
	padding-top: 5%;
}
ul#accordion li div.content div.last small.icon{
	width: 134px;
	height: 134px;
	background: #EEEFDF;
	border-radius: 50%;
}
footer{
	background: #21202E;
	padding: 1% 0;
	text-align: center;
}
footer{
	color: #fff;
	font-size: 16px;
}
footer p a{
	color: #fff;
}
#whyfemme{
	background: url(../images/why-femme-bg.jpg) no-repeat scroll center;
	-webkit-background-size: cover ;
	background-size: cover ;
	padding: 3% 0 0%;
}
.circle-container{
	position: relative;
	z-index: 2;
	padding-bottom: 2%;
}
.circle-container img{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 50%;
	z-index: -1;
}
.circle-container .row .box.one{
	float: left;
	text-align: center;
}
.circle-container .row .box.two{
	float: right;
	text-align: center;
}
.circle-container .row .box span.icon{
	 width: 140px;
     height: 140px;
     display: inline-block;
     background: url(../images/sprite.png) no-repeat;
     border-radius: 50%;
}
.circle-container .row{
	margin: 0 auto 3%;
}
.circle-container .row.first{
	width: 40%;
}
.circle-container .row.second{
	width: 80%;
}
.circle-container .row.third{
	width: 95%;
}
.circle-container .row.fourth{
	width: 85%;
	margin-bottom: 0;
}
.circle-container .row .box h4{
	color: #fff;
	font-size: 20px;
	margin-top: 5px;
}
.circle-container .row .box h4 br{
	display: none;
}
.circle-container .row.first .box.one span.icon{
	background-position: -433px -201px;
}
.circle-container .row.first .box.two span.icon{
	background-position: -580px -204px;
}
.circle-container .row.second .box.one span.icon{
	background-position: -290px -203px;
}
.circle-container .row.second .box.two span.icon{
	background-position: -731px -204px;
}
.circle-container .row.third .box.one span.icon{
	background-position: -148px -204px;
}
.circle-container .row.third .box.two span.icon{
	background-position: -881px -204px;
}
.circle-container .row.fourth .box.one span.icon{
	background-position: -5px -204px;
}
.circle-container .row.fourth .box.two span.icon{
	background-position: -1030px -204px;
}

/* Loader form */
.popup-bg{
	background: rgba(0,0,0,0.8);
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index: 999;
}

.popup-box{
	width:100px;
	height:100px;
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	z-index: 1000;
}
.preloader .plc-path {
  stroke: #009688;
}

svg:not(:root) {
  overflow: hidden;
}
.plc-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}

.preloader.pls-teal .plc-path {
  stroke: #009688;
}

.preloader.pls-gray .plc-path {
  stroke: #9e9e9e;
}

.preloader.pls-pink .plc-path {
  stroke: #e91e63;
}

.preloader.pls-purple .plc-path {
  stroke: #9c27b0;
}

.preloader.pls-white .plc-path {
  stroke: #fff;
}
.preloader {
  position: relative;
  margin: 0px auto;
  display: inline-block;
}

.preloader:not([class*="pl-"]) {
  width: 40px;
}

.preloader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.preloader.pl-xs {
  width: 20px;
}

.preloader.pl-sm {
  width: 30px;
}

.preloader.pl-lg {
  width: 50px;
}

.preloader.pl-xl {
  width: 80px;
}

.preloader.pl-xxl {
  width: 100px;
}

.preloader:not([class*="pls-"]) .plc-path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

.preloader[class*="pls-"] .plc-path {
  animation: dash 1.5s ease-in-out infinite;
}

.preloader.pls-red .plc-path {
  stroke: #f44336;
}

.preloader.pls-blue .plc-path {
  stroke: #2196f3;
}

.preloader.pls-green .plc-path {
  stroke: #4caf50;
}

.preloader.pls-yellow .plc-path {
  stroke: #ffeb3b;
}

.preloader.pls-bluegray .plc-path {
  stroke: #607d8b;
}

.preloader.pls-amber .plc-path {
  stroke: #ffc107;
}
html:not(.ismobile) .page-loader .preloader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pl-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%, 0% {
    stroke: #f44336;
  }

  40% {
    stroke: #2196f3;
  }

  66% {
    stroke: #4caf50;
  }

  80%, 90% {
    stroke: #ffc107;
  }
}

/* End loader style */
/*resonsive design start here*/ 
@media all  and (max-width: 1280px){
	#top #spotlight {
		width: 90%;
	}
	#top #spotlight p {
		font-size: 16px;
	}
	#top #spotlight h2 {
		font-size: 60px;
	}
	#features ul li .content {
		margin-top: -110px;
	}

	.head h2 {
    	font-size: 37px;
    }	
    .head p {
    	font-size: 15px;
    }
    #features .left {
	  
	}
	#features .right {
	   
	}
}
@media all  and (max-width: 1208px){
	#issues .line {
		top: -519px;
	}
	#issues .line.two {
	    top: -212px;
	}
}
@media all  and (max-width: 980px){
	#top #spotlight {
		width: 100%;
	}
	#top #spotlight h2 {
		font-size: 50px;
	}
	#about ul li{
		width: 49%;
		margin-right: 2%;
	}
	#about ul li:nth-child(1){
		width: 80%;
		float: none;
		margin: 0 auto 2%;
	}
	#about ul li .top {
    	padding: 50px 0;
	}	
	#about ul li .top .img {
		margin: 0 auto -141px;
	}
	#about ul li:nth-child(1) .bottom {
	    padding: 15% 15px 10%;
	}
	#about ul li .bottom {
	    padding: 25% 15px 10%;
	}
	#issues ul li {
	    width: 33.33%;
	    padding: 0 5px;
	}
	#issues .line{
		display: none;
	}
	#features .left, #features .right {
	    width: 49%;
	}
	.circle-container .row {
	    width: 48% !important;
	    float: left !important;
	    margin-right: 4%;
	}
	.circle-container .row.second,.circle-container .row.fourth{
		margin-right: 0 !important;
	}
	.circle-container .row .box{
		width: 48%;
	}
	.circle-container img {
		display: none;
	}
	.circle-container .row .box h4 br{
		display: block;
	}
	#part-of-femme ul li {
		width: 50%;
	}
	#part-of-femme ul.first li:first-child {
	    margin-left: 0;
	}
	#part-of-femme ul.second li{
		margin-top: -20%;
	}
	#part-of-femme ul.second li:first-child  {
	    margin-left: 25%;
	    margin-top: 0;
	}
	#part-of-femme ul.second{
		margin-top: -5%;
	}

	.head h3 {
		font-size: 33px;
	}
	.head h4 {
		font-size: 60px;
	}
}
@media all  and (max-width: 800px){
	#top #spotlight h2 {
		font-size: 40px;
	}
	#about ul li .bottom {
	    padding: 32% 15px 10%;
	}
	#about ul li:nth-child(1) .bottom {
	    padding: 20% 15px 10%;
	}
	#features .left, #features .right {
	    float: none;
	    width: 80%;
	    margin: 0 auto;
	}
	#features .left ul li:nth-child(2n) span, #features .right ul li:nth-child(2n+1)  .content{
		float: left;
	}
	#features .left ul li:nth-child(2n) .content,#features .right ul li:nth-child(2n+1) span{
		float: right;
	}
	#contact ul li {
		width: 30%;
		margin-right: 5%;
	}
	ul#accordion li div.onebyfour div{
		width: 45%;
		margin-right: 10%;
	}
	ul#accordion li div.onebyfour div:nth-child(2n){
		margin-right: 0;
	}
	#part-of-femme ul{
		margin-bottom: -5%;
	}
	#part-of-femme ul.logo li{
		width: 100%;
		margin: 0 !important;
		margin-bottom: 20px !important;
	}
	#part-of-femme ul li{
		width: 45%;
		margin-right: 10% !important;
		margin-bottom: 5% !important;
	}
	#part-of-femme ul li:nth-child(2n){
		margin-right: 0 !important;
	}
	#part-of-femme ul.second li,#part-of-femme ul.second,#part-of-femme ul.first,#part-of-femme ul.logo,#part-of-femme ul.second li:first-child{
		margin: 0;
	}
	#part-of-femme ul.logo{
		margin-bottom: 20px;
	}
	#part-of-femme ul li .top{
		background: #EDEDED;
	}
	#part-of-femme ul li .bottom{
		background: #7A2F72;
	}
	#part-of-femme ul li .top,#part-of-femme ul li .bottom{
		height: auto;
		padding-bottom: 10%;
	}
}
@media all  and (max-width: 768px){
	.head h4 {
	    font-size: 50px;
	}
	.head h3 {
	    font-size: 30px;
	}
}
@media all  and (max-width: 685px){
	ul#accordion div.designs div.design-right .d4 {
		display: none;
	}
	.circle-container .row{
		width: 80% !important;
		margin: 0 10% 5%;
	}
}
@media all  and (max-width: 659px){
	#contact .line {
		top: -183px;
	}
}
@media all  and (max-width: 640px){
	#top header h1 {
		width: 90px;
	}
	#top #spotlight h2 {
	    font-size: 35px;
	}
	#top #spotlight p {
	    font-size: 15px;
	}
	#top #spotlight a.button {
	    font-size: 16px;
	}
	#about ul li .bottom {
	    padding: 20% 15px 10% !important;
	}
	#about ul {
		margin-bottom: -30px;
	}
	#about ul li {
	    width: 100% !important;
	    margin-right: 0;
	    margin-bottom: 30px !important;
	}
	#issues ul{
		margin-bottom: -25px;
	}
	#issues ul li {
	    width: 50%;
	    padding: 0 5px;
	    margin-bottom: 25px;
	}
	#features .left, #features .right {
	    float: none;
	    width: 100%;
	}
	a.button {
		font-size: 13px;
	}
	.head h4 {
	    font-size: 40px;
	}
	.head h3 {
	    font-size: 25px;
	}
	form p{
		width: 49%;
		margin-right: 2%;
	}
	form p.first{
		width: 49%;
		margin-right: 2%;
	}
	form p.email{
		width: 49%;
	}
	form p.phone{
		width: 100%;
	}
}
@media all  and (max-width: 480px){
	#top #spotlight h2 {
	    font-size: 24px;
	}
	#top #spotlight p {
	    font-size: 14px;
	}
	#spotlight a.button {
    	font-size: 15px;
		padding: 10px 35px;
	}
	#about ul li .bottom {
	    padding: 32% 15px 10% !important;
	}
	#issues ul li {
	    width: 100%;
	    box-shadow: 0 0 4px 0px #888888;
	    padding: 25px 20px;
	}
	#features ul li,#features ul {
	    text-align: center;
	    float: none;
	}
	#features ul li span,#features ul li .content {
	    float: none !important;
	    margin: 0 auto !important;
	}
	#features ul li .content {
	    width: 100%;
	}
	#features .left{
		margin-bottom: 30px;
		float: left;
	}
	 #features ul li span{
		width: 120px;
		height: 120px;
	}
	#features ul li span small{
		width: 100px;
		height: 100px;
		padding-top: 15px;
	}
	#contact ul li {
	    width: 100%;
	    margin-bottom: 20px;
	}
	#contact ul li:last-child{
		margin-bottom: 0;
	}
	#contact .line {
	    display: none;
	}
	.head h3 {
	    font-size: 20px;
	}
	.head h4 {
	    font-size: 35px;
	}
	#about {
	    padding: 40px 0;
	}
	#advantages,#main-features,#features,#request,#footer .top,#services {
		padding: 40px 0;
	}
	ul#accordion li div.onebythree div{
		width: 100%;
		margin-right: 0;
	}
	ul#accordion li div.onebyfour div{
		width: 100%;
		margin-right: 0;
	}
	ul#accordion div.designs div.design-right .d{
		width: 65px;
	}
	ul#accordion li h4{
		padding-left: 20px;
		font-size: 18px;
	}
	#part-of-femme ul li{
		width: 100%;
		margin-right: 0 !important;
	}
	.circle-container .row{
		width: 100% !important;
		margin: 0 0 5% 0;
	}
}
@media all  and (max-width: 400px){
	ul#accordion div.designs div.design-right .d{
		width: 50px;
	}
	form p,form p.first,form p.email{
		width: 100%;
	}
	label{
		font-size: 16px;
	}
}
@media all  and (max-width: 360px){
	#top #spotlight h2 {
	    font-size: 23px;
	}
	#top #spotlight p {
	    font-size: 14px;
	}
	.head h4 {
	    font-size: 30px;
	}
	.circle-container .row .box{
		width: 100%;
		margin-bottom: 5%;
	}
}