{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<section id="about">
		<section class="wrapper">
			<ul>
				{% for about in about_datas %}
				<li>
					<div class="top">
						<div class="img">
							<img src="{{about.image.url}}" alt="" title="">
						</div>
					</div>
					<div class="bottom">
						<h3>{{about.title}}</h3>
						<h5>{{about.subheading}}</h5>
						<p>{{about.content}}</p>
						<p>{{about.date_added}}</p>
					</div>
				</li>
             {% endfor %}
			</ul>
			<br class="clear">
		</section>
	</section>
{% endblock %}
            
		